<nav>
  <ul>
    <button (click)="toggle($event)">{{buttonText}}</button>
    <ng-container *ngIf="!hideMenu">
      <li><a routerLink="/a" routerLinkActive="active">Lazy load component</a></li>
      <li><a routerLink="/b" routerLinkActive="active">OnPush</a></li>
      <li><a routerLink="/c" routerLinkActive="active">Pipe vs Method</a></li>
      <li><a routerLink="/cd" routerLinkActive="active">Change Detection</a></li>
      <li><a routerLink="/customers" routerLinkActive="active">Lazy load feature module</a></li>
    </ng-container>
  </ul>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>