/* You can add global styles to this file, and also import other style files */

button {
  display: inline-block;
  white-space: nowrap;
}

small {
  font-size: 12px;
  white-space: nowrap;
}

.demo-component {
  display: block;
  border: 1px solid black;
  padding: 3px 5px;
  /* overflow: hidden; */
  background-color: #fff;
  transition: background 0.1s;
}

.during-ngDoCheck {
  background-color: #ff5;
}

.cta {
  font-weight: 600;
  font-size: 0.8em;
}

/* change detection style */
.gap-4 {
  gap: 1rem;
}

.flex {
  display: flex;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


.p-2 {
  padding: 0.5rem;
}

.bg-gray-200 {
  background-color: rgb(229 231 235);
}


.bg-fuchsia-300 {
  opacity: 1;
  background-color: rgb(240 171 235);
}

.border-gray-300 {
  border: 1px solid rgb(209 213 219);
}

.border-2 {
  border-width: 2px;
}

.rounded-xl {
  border-radius: 0.75rem;
}
.block {
  display: block;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gap-2 {
  gap: 0.5rem;
}

.items-center {
  align-items: center;
}


.mb-4 {
  margin-bottom: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.bg-blue-500 {
  opacity: 1;
  background-color: rgb(59 130 246);
}

.rounded-xl {
  border-radius: 0.75rem;
}

.cursor-default {
  cursor: default;
}

.inline-block {
  display: inline-block;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.p-2 {
  padding: 0.5rem;
}




.border-2 {
  border-width: 2px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.block {
  display: block;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}